.active {
  animation: shake 300ms 2 linear;
}

@keyframes shake {
  0% {
    transform: translate(6px, 0);
  }
  25% {
    transform: translate(-6px, 0);
  }
  50% {
    transform: translate(6px, 0);
  }
  75% {
    transform: translate(-6px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}


input {
  margin-bottom: 20px;
  padding: 20px;
  width: 258px;
  color: #333;
}

input,
button {
  font-size: 18px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  display: block;
}

button {
  text-decoration: none;
  font-size: 18px;
  outline: none;
  background-color: #007ba3;
  color: #FFF;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #044682;
  width: 300px;
  position: relative;
  overflow: hidden;
}

button:hover {
  background-color: #3b8ad2;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 350px;
}

